.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.action-card {
    width: 90%;
    max-width: 400px;
    margin-bottom: 20px;
    text-align: center;
    --background: var(--ion-color-light);
}

.action-card ion-card-header {
    padding-bottom: 8px;
}

.action-card ion-icon {
    margin-bottom: 10px;
}